@tailwind base;

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }
}

@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
}

body {
  scroll-behavior: smooth;
}

a {
  @apply hover:text-blue-400 transition-colors;
}

/* React slick */
.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-prev,
.slick-next {
  @apply text-black hover:text-neutral-500 transition-colors;
}
